body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #111;
  color: #fff;
}

h1 {
  color: red;
}

section {
  margin-bottom: 30px;
  border: 1px solid #444;
  padding: 10px;
  background: #222;
}

.jogo {
  margin-bottom: 10px;
}

button {
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  background: black;
  color: red;
  border: 1px solid red;
  cursor: pointer;
}

#resumo-apostas {
  margin-top: 30px;
  background: #222;
  padding: 15px;
  border: 1px solid #555;
}


